  <!-- Appointment Start -->
 

  <div class="container">
    <h1>Appointments List</h1> 
    <a routerLink="/appointmentAjout" class="ajout"><button type="button" class="btn btn-success">Ajouter +</button></a><br>
    <br>
    <div class="form-floating ">
    <input class="form-control searchbydate col-6" placeholder="Appointment Date" type="date"   > 
    <label >search by date</label>
  </div>
    <br>
<table class="table  text-center table-hover ">
<thead class="bg-primary text-white">
  <tr>
    <th >Date</th>
    <th>Appointment type</th>
    <th>Guardian name</th>
    <th>Description</th>
    <th colspan="2" >Action</th>
    
  </tr>
</thead>
<tbody>
  
    <td> </td>
    <td></td><td> </td>
    <td></td>
    
    
    <td><a  ><button type="button" class="btn btn-warning">Update</button></a></td>
    <td><button type="button" class="btn btn-danger" >delete</button></td>
  
</tbody>
</table>
</div>


<!-- Appointment End -->