








<section class="courses">
  


<!DOCTYPE html>
<html>
<head>
  <title>Statistique Activitys</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <h1 style="color: red;">Statistique Activitys</h1>

  <div style="display:flex; justify-content:center; align-items:center; height:100vh;">
    <div style="width:40%; margin:auto;">    
    <canvas #pieCanvas style="height:20vh; width:40vw"></canvas>
    <hr color="red">
    </div>
  </div>


</body>
</html>
